body{
	font-family: Helvetica;
	height: 100%;
	color: rgb(117, 117, 117);
	font-size:12pt;
	margin: 0px;
}

.banner {
	position: relative;
    width: 100%; /* Full width */
    overflow: hidden; /* Prevent overflow */
	min-width: 1100px;
	
}

.banImg {
	float:right;
    width: 100%;
    height: auto;
    min-width: 1100px;
	display:block;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
	height: calc(100vh - 100px); 
	min-width: 980px;
}

.contact {
	text-align: center;
}

.link-plain {
    color: inherit; /* Inherits the color of the parent element */
    text-decoration: none; /* Removes underline */
}
  
.link-plain:hover {
	color: black; /* Changes color on hover */
}
  
.video{
	border: none; /* Remove any border, including drop shadow */
	box-shadow: none; /* Removes any box shadow, including potential drop shadow */
	border-radius: 10px; /* Optional: Rounds the corners of the iframe */
	overflow: hidden; /* Ensures that content doesn't overflow the rounded corners */
}



.title {
    position: absolute;
    margin-left: 10%;
    height: 100%;
    width: auto;
    background-color: rgb(3, 104, 148);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.2 / 1; /* Set your desired aspect ratio */
}



.checkIt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
	margin: 0; 
	padding: 0;
}


.h1{
	display: inline; /* Display as inline element */
	font-size: 150px; /* Match font size of paragraph */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	line-height: 0.9; /* Set line height */
	font-weight: normal; /* Set font weight to normal */
	text-align: center;
	margin-right: -14px;
}

.calc {
	display: inline; /* Display as inline element */
	font-size: 24px; /* Match font size of paragraph */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	line-height: 1.0; /* Set line height */
	font-weight: normal; /* Set font weight to normal */
	text-align: center;
	
}

.header {
    padding: 0px 15% 0px 0px;   
	margin-left: calc( max(10%, 110px) );
	height: 100%;
	
	min-width: 870px;
	
	
}

.logo {  
	width:calc( max(35%, 286px) );
	margin-bottom:-10px;
	padding-top:6px;
	justify-content:center;
	text-align: center;
}


.footer {
    display: flex; /* Add flex display */
    align-items: center; /* Vertically center the items */
    width: 100%;
	min-width: 1100px; 
    height: 100px;
	justify-content:center;
    background-color: rgb(3, 104, 148);
	
}

.stripe {
    display: flex; /* Add flex display */
    align-items: center; /* Vertically center the items */
    width: 100%;
    height: 3px;
	justify-content:center;
    background-color: rgb(3,104,148);
	
}



.ctTitle {
    margin: 0;
    font-weight: normal;
	height: 40px;
    font-size: 30px;
    padding-left: 10px;
    align-self: flex-end; /* Align the text to the bottom of the container */
	margin-block-start: 0;
	margin-block-end: 0;
}

.navMenu{
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
	align-self: flex-end;
}

.navItem{
	margin-right: 14px;
	
	
	
}

p {
	margin: 0;
}

h {
	margin: 0;
}

button {
	height:28px;
	color: rgb(117, 117, 117);
	font-size:12pt;
	border: 0px;
	border-radius:6px;
	width: 84px;
}

button:hover {
  background-color: rgb(210, 210, 210); ;
}


.addBtn, .addSkylight, .addWindow {
	color: white;
	background-color: rgb(4, 104, 148);
}

.lessBtn, .removeSkylight, .lessWall, .removeWindow {
	color: white;
	background-color: rgb(140, 140, 140);
	border:0px;
}



.details{
	background-color: rgb(240, 240, 240);
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 6px;
	width: 309px;
	font-family: Helvetica;
	font-size: 12pt;
	height: 28px;
	vertical-align: middle;
	padding: 0px 8px 0px 8px;
}


.banner {
	position: relative;
    width: 100%; /* Full width */
    overflow: hidden; /* Prevent overflow */
}

.banImg {
	float:right;
    width: 100%;
    height: auto;
    min-width: 1100px;
	display:block;
}







select{
	background-color: rgb(240, 240, 240);
	height: 28px;
	border: 0px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size:11pt;
	color: rgb(117, 117, 117);
	z-index: +1;	
}




.selA{
	background-color: white;
}


.main {
	width: 930px;
	margin: 0 auto;
	height: 100%;
	border: 1px solid blue;
}



.smallTxt {
	font-size:12px;
	margin-top:0px;
}

.insuTxt {
	font-size:12px;
	vertical-align: bottom;
	text-align: right;
	margin-right:6px;
}

.containerB {
	width: 870px;
	margin: 0 auto;
	background-color: rgb(240, 240, 240);
	
}

.container {
	border-radius:6px;
	width: 870px;
	margin: 0 auto;
	
	
}

.containerC {
	width: 780px;
	margin: 0 auto;
	
}

.containerCC {
	width: 780px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.containerCCC {
	width: 780px;
	margin: 0 auto;
	padding: 60px 0px 40px 0px;
	
}

.inden {
	display: inline-block;
	margin-left:20px;
}

.guideCon {
	
	transform: scale(0.9);
	opacity: 1; 
	transform-origin: top left;
	padding-top:10px;

}

.guideConA {
	
	padding-top:10px;

}

.containerCC h2 {
  margin-top: 0;
}

.containerCCC h1 {
  margin-top: 0;
  padding-top: 0px;
}



.joineryNames{
	background-color: rgb(240, 240, 240);
	width: 82px;
	height:28px;
	font-size: 12pt;
	color: rgb(117, 117, 117);
	outline: none; 
	border: none;	
	text-align: right;
	padding: 0px 4px 0px 0px;
	border-radius: 6px;
	
}

.joineryNames:hover {
	background-color: white;
  
}

.containerD {
	display: flex;
	justify-content: flex-end;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 100%;
	
}

.grey{
	background-color: rgb(240, 240, 240);
	width: 100%;
	min-width: 1100px; 
	
}

.white{
	background-color: white;
	width: 100%;
	min-width: 1100px; 
	
}

.formHead{
	padding: 16px;
	margin-left:50px;
	text-align: left;
}



.form {
	
	background-color: rgb(240, 240, 240);
	
	box-shadow: 0px 0px 6px 0px;
	
	border: 0px solid rgb(117, 117, 117);
	
	border-radius: 8px;
	
	margin: 40px 10px 10px 10px;
	
	
}



.resultItems{
	padding-bottom:4px;
	padding-top:4px;
	text-align:right;
	height: 18px;
	
}

.resultItems1{
	padding-bottom:4px;
	padding-top:4px;
	text-align:right;
	height: 18px;
	color: rgb(0, 0, 200);
}

.resultLabel{
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	height: 18px;
	
}

.refItems{
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	height: 18px;
	width:120px;
	font-style: italic;
}

.headingBar {
	display: flex;
	margin: 0;
	border-radius: 0px;
}

.overR {
	padding: 34px 0px 0px 0px;
	margin-left: 20px;
}



.roof, .wall, .floor {
	border-bottom: 1px solid gray;
	margin-bottom: 17px;
}

.skyLights{
	border: 0px solid blue;
	margin-left: 70px;
	margin-right: 40px;
}

.results{
	margin-bottom: 8px;
}

.windows{
	border: 0px solid blue;
	margin-left: 62px;
	margin-right: 40px;
}

.heading{
	padding: 30px 0px 30px 0px;
	font-size:28px;
	margin-left:60px;
	font-weight:bold;
	color: rgb(3, 104, 148);	
}

.areaCheck{
	width:90px;
}

.itemName{
	font-size:20px;
	font-weight: bold;
	margin:0;
	
}

.content{
	padding: 0px 60px 30px 60px;
}

input[type="number"].area::-webkit-inner-spin-button,
input[type="number"].area::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].area {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"].distance::-webkit-inner-spin-button,
input[type="number"].distance::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].distance {
  -moz-appearance: textfield; /* Firefox */
}


input[type="number"].distanceOp::-webkit-inner-spin-button,
input[type="number"].distanceOp::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].distanceOp {
  -moz-appearance: textfield; /* Firefox */
}


input[type="number"].rValue::-webkit-inner-spin-button,
input[type="number"].rValue::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].rValue {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"].rValueOp::-webkit-inner-spin-button,
input[type="number"].rValueOp::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].rValueOp {
  -moz-appearance: textfield; /* Firefox */
}


input[type="number"].areaA::-webkit-inner-spin-button,
input[type="number"].areaA::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].areaA {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"].distanceA::-webkit-inner-spin-button,
input[type="number"].distanceA::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].distanceA {
  -moz-appearance: textfield; /* Firefox */
}


input[type="number"].rValueA::-webkit-inner-spin-button,
input[type="number"].rValueA::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].rValueA {
  -moz-appearance: textfield; /* Firefox */
}






.rValue{
	text-align:left;
	width: 38px;
	padding:0;
	padding-left:36px;
	margin-right:0px;
	background-color: rgb(240, 240, 240);
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
}

.rValueA{
	text-align:left;
	width: 38px;
	padding:0;
	padding-left:36px;
	margin-right:0px;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
}


.rLabel {
	position: relative;
	background-color: rgb(190, 190, 190);
	vertical-align: middle;
	text-align:center;
	color: white;
	display: inline-block;
	width:28px;
	height:28px;
	margin-right: -28px;
	border-radius: 6px 0px 0px 6px;	
	line-height: 28px;
}

.units{
	position: relative;
	background-color: rgb(190, 190, 190);
	vertical-align: middle;
	text-align:center;
	color: white;
	display: inline-block;
	width:28px;
	height: 28px;
	margin-left: -28px;
	border-radius: 0px 6px 6px 0px;	
	line-height: 28px;
}

.unitsA{
	position: relative;
	vertical-align: middle;
	text-align:center;
	width:20px;
	height: 18px;
	line-height: 18px;
	font-size:10pt;
}


.nextTo{
	display: flex;
}

.index{
	width: 32px;
	flex-shrink: 0; 
	
}

.indexA{
	width: 20px;
	flex-shrink: 0; 
	
}

.resUnits{
	font-size:10pt;
}

.nextToA{
	display: flex;
	align-items: baseline;
}

.parameters{
	width: 385px;
	
}

.warning{
	color: red;
	
}

.lossLabel{
	width:110px;
}

.resSpace{
	width:115px;
}

.resDiv{
	width: 100px;
}

.outPut{
	display: flex;
	color: rgb(0, 0, 200);
	border: 0px solid red;
	text-align: right;
	font-weight: bold;
}

.dets{
	flex:1;
	border: 0px solid blue;
	padding: 0px 60px 0px 0px;
	margin: 0 0 0 0;
	width:325px;
	
}


.half{
	flex:1;
	border: 0px solid blue;
	padding: 0;
	margin: 0 0 0 0;
}

.dimensions{
	border: 0px solid blue;
	padding: 0;
	margin: 0;
}

.sides{
	border: 0px solid blue;
	margin: 0;
	padding: 0px 60px 0px 0px;
}

.sides1{
	border: 0px solid blue;
	margin: 0;
	padding: 0px 15px 0px 0px;
}

.sides2{
	border: 0px solid blue;
	margin: 0;
	padding: 0px 30px 0px 0px;
}

.insu{
	border: 0px solid blue;
	margin: 0;
	padding: 0px 15px 0px 0px;
}

.dets input[type="radio"]{
	margin-top:8px;
	width: 22px;
}

input[type="radio"]{
	margin-top:8px;
}


.area, .distance{
	text-align: right;
	width: 60px;
	padding:0;
	padding-right:36px;
	background-color: rgb(240, 240, 240);
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size: 11pt;
	height: 28px;
	vertical-align: middle;
}

.areaA, .distanceA{
	text-align: right;
	width: 60px;
	padding:0;
	padding-right:36px;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size: 11pt;
	height: 28px;
	vertical-align: middle;
}

.rValueOp{
	width: 46px;
	text-align: center;
	margin:0px 10px 5px 0px;
	padding: 0px;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 0px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
}
.distanceOp{
	width: 80px;
	text-align: center;
	margin:0px 2px 5px 0px;
	padding: 0px;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 0px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
}


.areaOp{
	text-align: center;
	width: 80px;
	margin:0px 2px 5px 0px;
	padding: 0px;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 0px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
	display: flex;
	justify-content: center; /* horizontal center */
	align-items: center;     /* vertical center */       /* or any height you want */
	
}

.windowUnit{
	text-align: center;
	width: 16px;
	margin:0px 0px 0px 0px;
	padding: 0px;
	background-color: white;
	color: rgb(117, 117, 117);
	border: 0px;
	border-radius: 0px;
	font-family: Helvetica;
	font-size:11pt;
	height: 28px;
	vertical-align: middle;
	display: flex;
	justify-content: center; /* horizontal center */
	align-items: center;     /* vertical center */       /* or any height you want */
	
}


.rValueOp{
	border-radius: 0px 6px 6px 0px;
}

.unitTitle{
	width:24px;
}

.unitF{
	font-size:9pt;
	width:20px;
}

.tableM{
	position: relative;
	margin-left: -12px;
	margin-right: -12px;
	width: 24px;
	line-height: 18px;
	text-align: center;
	font-size:12pt;
}

.tableX{
	position: relative;
	margin-left: -11px;
	margin-right: -5px;
	width: 16px;
	line-height: 18px;
	text-align: center;
}


.column{
	margin: 0px 2px 0px 0px;
	text-align: center;
	border:0px;
	width: 80px;
}

.columnS{
	margin: 0px 2px 0px 0px;
	text-align: center;
	border:0px;
	width: 46px;
}


.centered-text {
  display: inline;
  margin-right: 10px;
}

input[type= checkbox]{
	margin:8px 3px 0px 5px;
	
}

input:focus {
  background-color: white;
  outline: 2px solid;
  z-index: 1; 
}

select:focus {
  background-color: white;
  outline: 2px solid black;
  z-index: 1; 
}

.skyResult, .opResult{
	display: flex;
	height:28px;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
}





.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
	z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    max-height: 70%; /* Set a maximum height for the modal content */
    overflow-y: auto; /* Add a vertical scrollbar if the content overflows */
	
}

.disHead{
font-weight:bold; 
margin-bottom:6px;
}


	




















